.formContainer{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column
}
.formContainer .title{
  font-weight:bold;
}
.formContainer .subTitle{
  padding-top: 16px;
  padding-bottom: 8px;
}
.form input{
  background-color: #ffff;
      font-size: 17px;
      padding: 16px 15px;
      border-radius: 7px;
      font-family: inherit;
      font-weight: 500;
      margin-bottom: 27px;
      border-width: 1px;
      margin-top: 24px;
}
.form button {
      display: block;
      font-family: inherit;
      background-color: #6851FF;
      border: none;
      color: #fff;
      font-size: 17px;
      font-weight: 400;
      width: 100%;
      border-radius: 7px;
      padding: 16px 0;
      cursor: pointer;
}