.formContainer{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column
}
.title{
  font-weight: bold;
}
.subTitle{
  padding-top: 16px;
  padding-bottom: 8px;
}
:global(.dark) .formContainer span{
  color: #fff;
}
.form input{
  background-color: #ffff;
      font-size: 17px;
      padding: 16px 15px;
      border-radius: 7px;
      font-family: inherit;
      font-weight: 500;
      margin-bottom: 27px;
      border-width: 1px;
      margin-top: 24px;
}
:global(.dark) .form input{
  background-color: #292C31;
  border-color:#fff0;
  color: #bbb;
}
.form button {
      display: block;
      font-family: inherit;
      background-color: #96CF24;
      border: none;
      color: #fff;
      font-size: 17px;
      font-weight: 400;
      width: 100%;
      border-radius: 7px;
      padding: 16px 0;
      cursor: pointer;
}